--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg110+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA tiger;


--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA tiger_data;


--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA topology;


--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    actor_id uuid,
    action character varying(100) NOT NULL,
    entity_type character varying(100) NOT NULL,
    entity_id uuid,
    property_unit_id uuid,
    previous_status character varying(50),
    new_status character varying(50),
    remarks text,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: buildings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.buildings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    parcel_id uuid NOT NULL,
    building_name character varying(200),
    number_of_floors integer DEFAULT 1 NOT NULL,
    floor_height_m numeric(8,3) DEFAULT 3.0 NOT NULL,
    base_elevation_m numeric(10,3) DEFAULT 0 NOT NULL,
    geometry public.geometry(PolyhedralSurfaceZ,4326),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    country character varying(100) DEFAULT 'India'::character varying NOT NULL,
    state character varying(100),
    district character varying(100),
    city character varying(100),
    area character varying(150),
    street character varying(200),
    pincode character varying(10),
    address_line character varying(300)
);


--
-- Name: corridors; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.corridors (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    floor_id uuid NOT NULL,
    corridor_name character varying(150) DEFAULT 'Shared Corridor'::character varying NOT NULL,
    corridor_type character varying(50) DEFAULT 'SHARED'::character varying NOT NULL,
    width_m numeric(8,2),
    length_m numeric(10,2),
    geometry public.geometry(PolygonZ,4326),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT corridors_corridor_type_check CHECK (((corridor_type)::text = ANY ((ARRAY['SHARED'::character varying, 'PRIVATE'::character varying, 'SERVICE'::character varying])::text[])))
);


--
-- Name: floors; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.floors (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    building_id uuid NOT NULL,
    floor_number integer NOT NULL,
    floor_label character varying(50),
    min_z numeric(10,3) NOT NULL,
    max_z numeric(10,3) NOT NULL,
    geometry public.geometry(PolyhedralSurfaceZ,4326),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: government_officer_registry; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.government_officer_registry (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    government_id character varying(100) NOT NULL,
    officer_name character varying(200) NOT NULL,
    department character varying(200) NOT NULL,
    designation character varying(150),
    verification_code character varying(100) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: owners; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.owners (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(200) NOT NULL,
    contact character varying(100),
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: parcels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.parcels (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    ulpin character varying(14) NOT NULL,
    parcel_number character varying(100),
    area_sq_m numeric(12,2),
    base_elevation_m numeric(10,3) DEFAULT 0,
    geometry public.geometry(PolygonZ,4326),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: parking_spaces; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.parking_spaces (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    building_id uuid NOT NULL,
    parking_number character varying(50) NOT NULL,
    parking_type character varying(50) DEFAULT 'CAR'::character varying NOT NULL,
    parking_location character varying(150),
    area_sq_m numeric(10,2),
    is_covered boolean DEFAULT false NOT NULL,
    property_unit_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT parking_spaces_parking_type_check CHECK (((parking_type)::text = ANY ((ARRAY['CAR'::character varying, 'BIKE'::character varying, 'EV'::character varying, 'OTHER'::character varying])::text[])))
);


--
-- Name: property_ownership; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.property_ownership (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    property_unit_id uuid NOT NULL,
    owner_id uuid NOT NULL,
    ownership_percentage numeric(5,2) DEFAULT 100.00,
    valid_from date,
    valid_to date,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: property_registrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.property_registrations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    property_unit_id uuid NOT NULL,
    owner_id uuid,
    ownership_id uuid,
    status character varying(30) DEFAULT 'PENDING'::character varying NOT NULL,
    registration_number character varying(100),
    submitted_by uuid,
    reviewed_by uuid,
    submitted_at timestamp with time zone DEFAULT now() NOT NULL,
    reviewed_at timestamp with time zone,
    remarks text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT property_registrations_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[])))
);


--
-- Name: property_tax; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.property_tax (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    property_unit_id uuid NOT NULL,
    assessment_year integer NOT NULL,
    assessed_value numeric(15,2),
    tax_amount numeric(15,2),
    payment_status character varying(30) DEFAULT 'PENDING'::character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: property_transfer_requests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.property_transfer_requests (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    property_unit_id uuid NOT NULL,
    current_owner_id uuid NOT NULL,
    new_owner_name character varying(200) NOT NULL,
    new_owner_contact character varying(100),
    ownership_percentage numeric(5,2) DEFAULT 100.00 NOT NULL,
    transfer_date date DEFAULT CURRENT_DATE NOT NULL,
    status character varying(30) DEFAULT 'PENDING'::character varying NOT NULL,
    submitted_by uuid NOT NULL,
    reviewed_by uuid,
    submitted_at timestamp with time zone DEFAULT now() NOT NULL,
    reviewed_at timestamp with time zone,
    remarks text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT property_transfer_requests_ownership_percentage_check CHECK (((ownership_percentage > (0)::numeric) AND (ownership_percentage <= (100)::numeric))),
    CONSTRAINT property_transfer_requests_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[])))
);


--
-- Name: property_units; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.property_units (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    floor_id uuid NOT NULL,
    unit_number character varying(50) NOT NULL,
    parent_ulpin character varying(14) NOT NULL,
    vertical_property_id character varying(100) NOT NULL,
    area_sq_m numeric(12,2),
    min_z numeric(10,3) NOT NULL,
    max_z numeric(10,3) NOT NULL,
    geometry public.geometry(PolyhedralSurfaceZ,4326),
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: rooms; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.rooms (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    property_unit_id uuid NOT NULL,
    room_name character varying(150) NOT NULL,
    room_type character varying(50) DEFAULT 'OTHER'::character varying NOT NULL,
    area_sq_m numeric(10,2),
    floor_number integer,
    geometry public.geometry(PolygonZ,4326),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT rooms_room_type_check CHECK (((room_type)::text = ANY ((ARRAY['LIVING_ROOM'::character varying, 'BEDROOM'::character varying, 'KITCHEN'::character varying, 'DINING_ROOM'::character varying, 'STUDY_ROOM'::character varying, 'BALCONY'::character varying, 'STORE_ROOM'::character varying, 'UTILITY_ROOM'::character varying, 'OTHER'::character varying])::text[])))
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(200) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash text NOT NULL,
    role character varying(50) DEFAULT 'CITIZEN'::character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'GOVERNMENT_OFFICER'::character varying, 'SURVEYOR'::character varying, 'CITIZEN'::character varying])::text[])))
);


--
-- Name: utilities; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.utilities (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    property_unit_id uuid,
    utility_type character varying(50) NOT NULL,
    connection_number character varying(100),
    provider character varying(200),
    status character varying(30) DEFAULT 'ACTIVE'::character varying,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: washrooms; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.washrooms (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    room_id uuid NOT NULL,
    washroom_name character varying(150) NOT NULL,
    washroom_type character varying(50) DEFAULT 'ATTACHED'::character varying NOT NULL,
    area_sq_m numeric(10,2),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT washrooms_washroom_type_check CHECK (((washroom_type)::text = ANY ((ARRAY['ATTACHED'::character varying, 'COMMON'::character varying, 'GUEST'::character varying, 'SERVICE'::character varying])::text[])))
);


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: buildings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: corridors; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.corridors (id, floor_id, corridor_name, corridor_type, width_m, length_m, geometry, created_at, updated_at) FROM stdin;
c4a4b548-6774-485b-a504-3ab5c30d2556	7af6e7fa-09a4-427c-94d2-f3a70b27b607	Floor 1 Shared Corridor	SHARED	2.00	20.00	\N	2026-09-14 12:32:57.382712+00	2026-09-14 12:32:57.382712+00
35f08db5-b8a7-452c-b37c-b833c8bb893b	cce6a573-7a34-4087-86b9-ab412f4e8d81	Shared Corridor	SHARED	2.00	20.00	\N	2026-09-14 13:00:42.037155+00	2026-09-14 13:00:42.037155+00
\.


--
-- Data for Name: floors; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: government_officer_registry; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.government_officer_registry (id, government_id, officer_name, department, designation, verification_code, is_active, created_at) FROM stdin;
fa8cb3b4-bfbb-406a-a1eb-39432c24f502	GOV-DEMO-001	Government Officer	Department of Land Resources	Property Registration Officer	VERIFY-ULPIN-001	t	2026-09-10 15:10:37.618152+00
\.


--
-- Data for Name: owners; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: parcels; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: parking_spaces; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: property_ownership; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: property_registrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: property_tax; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: property_transfer_requests; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: property_units; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: utilities; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: washrooms; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.washrooms (id, room_id, washroom_name, washroom_type, area_sq_m, created_at, updated_at) FROM stdin;
cad92d06-f29b-4d10-a72d-03c9bac77f79	4b68f32a-33ed-4123-b22a-2a9434a3bb5e	Bedroom 1 Attached Washroom	ATTACHED	5.00	2026-09-14 12:34:42.903815+00	2026-09-14 12:34:42.903815+00
1beea544-4a4f-42fd-8d00-6057a9f284c3	0d4a0975-509d-4e6f-88b2-dfd8fc857ca4	Living Room Attached Washroom	ATTACHED	5.00	2026-09-14 13:20:13.871316+00	2026-09-14 13:20:13.871316+00
\.


--
-- Data for Name: geocode_settings; Type: TABLE DATA; Schema: tiger; Owner: -
--

COPY tiger.geocode_settings (name, setting, unit, category, short_desc) FROM stdin;
\.


--
-- Data for Name: pagc_gaz; Type: TABLE DATA; Schema: tiger; Owner: -
--

COPY tiger.pagc_gaz (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_lex; Type: TABLE DATA; Schema: tiger; Owner: -
--

COPY tiger.pagc_lex (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_rules; Type: TABLE DATA; Schema: tiger; Owner: -
--

COPY tiger.pagc_rules (id, rule, is_custom) FROM stdin;
\.


--
-- Data for Name: topology; Type: TABLE DATA; Schema: topology; Owner: -
--

COPY topology.topology (id, name, srid, "precision", hasz) FROM stdin;
\.


--
-- Data for Name: layer; Type: TABLE DATA; Schema: topology; Owner: -
--

COPY topology.layer (topology_id, layer_id, schema_name, table_name, feature_column, feature_type, level, child_id) FROM stdin;
\.


--
-- Name: topology_id_seq; Type: SEQUENCE SET; Schema: topology; Owner: -
--

SELECT pg_catalog.setval('topology.topology_id_seq', 1, false);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: buildings buildings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.buildings
    ADD CONSTRAINT buildings_pkey PRIMARY KEY (id);


--
-- Name: corridors corridors_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.corridors
    ADD CONSTRAINT corridors_pkey PRIMARY KEY (id);


--
-- Name: floors floors_building_id_floor_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.floors
    ADD CONSTRAINT floors_building_id_floor_number_key UNIQUE (building_id, floor_number);


--
-- Name: floors floors_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.floors
    ADD CONSTRAINT floors_pkey PRIMARY KEY (id);


--
-- Name: government_officer_registry government_officer_registry_government_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.government_officer_registry
    ADD CONSTRAINT government_officer_registry_government_id_key UNIQUE (government_id);


--
-- Name: government_officer_registry government_officer_registry_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.government_officer_registry
    ADD CONSTRAINT government_officer_registry_pkey PRIMARY KEY (id);


--
-- Name: owners owners_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.owners
    ADD CONSTRAINT owners_pkey PRIMARY KEY (id);


--
-- Name: parcels parcels_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parcels
    ADD CONSTRAINT parcels_pkey PRIMARY KEY (id);


--
-- Name: parcels parcels_ulpin_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parcels
    ADD CONSTRAINT parcels_ulpin_key UNIQUE (ulpin);


--
-- Name: parking_spaces parking_spaces_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parking_spaces
    ADD CONSTRAINT parking_spaces_pkey PRIMARY KEY (id);


--
-- Name: property_ownership property_ownership_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_ownership
    ADD CONSTRAINT property_ownership_pkey PRIMARY KEY (id);


--
-- Name: property_registrations property_registrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_registrations
    ADD CONSTRAINT property_registrations_pkey PRIMARY KEY (id);


--
-- Name: property_tax property_tax_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_tax
    ADD CONSTRAINT property_tax_pkey PRIMARY KEY (id);


--
-- Name: property_tax property_tax_property_unit_id_assessment_year_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_tax
    ADD CONSTRAINT property_tax_property_unit_id_assessment_year_key UNIQUE (property_unit_id, assessment_year);


--
-- Name: property_transfer_requests property_transfer_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_transfer_requests
    ADD CONSTRAINT property_transfer_requests_pkey PRIMARY KEY (id);


--
-- Name: property_units property_units_floor_id_unit_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_units
    ADD CONSTRAINT property_units_floor_id_unit_number_key UNIQUE (floor_id, unit_number);


--
-- Name: property_units property_units_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_units
    ADD CONSTRAINT property_units_pkey PRIMARY KEY (id);


--
-- Name: property_units property_units_vertical_property_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_units
    ADD CONSTRAINT property_units_vertical_property_id_key UNIQUE (vertical_property_id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: parking_spaces unique_building_parking_number; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parking_spaces
    ADD CONSTRAINT unique_building_parking_number UNIQUE (building_id, parking_number);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: utilities utilities_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.utilities
    ADD CONSTRAINT utilities_pkey PRIMARY KEY (id);


--
-- Name: washrooms washrooms_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.washrooms
    ADD CONSTRAINT washrooms_pkey PRIMARY KEY (id);


--
-- Name: buildings_geometry_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX buildings_geometry_idx ON public.buildings USING gist (geometry);


--
-- Name: floors_geometry_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX floors_geometry_idx ON public.floors USING gist (geometry);


--
-- Name: idx_audit_logs_actor; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_actor ON public.audit_logs USING btree (actor_id);


--
-- Name: idx_audit_logs_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_created_at ON public.audit_logs USING btree (created_at DESC);


--
-- Name: idx_audit_logs_entity; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_entity ON public.audit_logs USING btree (entity_type, entity_id);


--
-- Name: idx_audit_logs_property; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_property ON public.audit_logs USING btree (property_unit_id);


--
-- Name: idx_corridors_floor_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_corridors_floor_id ON public.corridors USING btree (floor_id);


--
-- Name: idx_government_officer_registry_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_government_officer_registry_active ON public.government_officer_registry USING btree (is_active);


--
-- Name: idx_government_officer_registry_government_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_government_officer_registry_government_id ON public.government_officer_registry USING btree (government_id);


--
-- Name: idx_parking_building_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parking_building_id ON public.parking_spaces USING btree (building_id);


--
-- Name: idx_parking_property_unit_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parking_property_unit_id ON public.parking_spaces USING btree (property_unit_id);


--
-- Name: idx_parking_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parking_type ON public.parking_spaces USING btree (parking_type);


--
-- Name: idx_property_registrations_owner; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_property_registrations_owner ON public.property_registrations USING btree (owner_id);


--
-- Name: idx_property_registrations_property_unit; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_property_registrations_property_unit ON public.property_registrations USING btree (property_unit_id);


--
-- Name: idx_property_registrations_reviewed_by; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_property_registrations_reviewed_by ON public.property_registrations USING btree (reviewed_by);


--
-- Name: idx_property_registrations_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_property_registrations_status ON public.property_registrations USING btree (status);


--
-- Name: idx_property_registrations_submitted_by; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_property_registrations_submitted_by ON public.property_registrations USING btree (submitted_by);


--
-- Name: idx_rooms_property_unit_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_rooms_property_unit_id ON public.rooms USING btree (property_unit_id);


--
-- Name: idx_rooms_room_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_rooms_room_type ON public.rooms USING btree (room_type);


--
-- Name: idx_washrooms_room_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_washrooms_room_id ON public.washrooms USING btree (room_id);


--
-- Name: idx_washrooms_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_washrooms_type ON public.washrooms USING btree (washroom_type);


--
-- Name: parcels_geometry_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX parcels_geometry_idx ON public.parcels USING gist (geometry);


--
-- Name: property_transfer_requests_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX property_transfer_requests_created_at_idx ON public.property_transfer_requests USING btree (created_at);


--
-- Name: property_transfer_requests_property_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX property_transfer_requests_property_idx ON public.property_transfer_requests USING btree (property_unit_id);


--
-- Name: property_transfer_requests_reviewed_by_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX property_transfer_requests_reviewed_by_idx ON public.property_transfer_requests USING btree (reviewed_by);


--
-- Name: property_transfer_requests_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX property_transfer_requests_status_idx ON public.property_transfer_requests USING btree (status);


--
-- Name: property_transfer_requests_submitted_by_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX property_transfer_requests_submitted_by_idx ON public.property_transfer_requests USING btree (submitted_by);


--
-- Name: property_units_geometry_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX property_units_geometry_idx ON public.property_units USING gist (geometry);


--
-- Name: property_units_parent_ulpin_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX property_units_parent_ulpin_idx ON public.property_units USING btree (parent_ulpin);


--
-- Name: users_email_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_email_idx ON public.users USING btree (email);


--
-- Name: users_role_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_role_idx ON public.users USING btree (role);


--
-- Name: audit_logs audit_logs_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: audit_logs audit_logs_property_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_property_unit_id_fkey FOREIGN KEY (property_unit_id) REFERENCES public.property_units(id) ON DELETE SET NULL;


--
-- Name: buildings buildings_parcel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.buildings
    ADD CONSTRAINT buildings_parcel_id_fkey FOREIGN KEY (parcel_id) REFERENCES public.parcels(id) ON DELETE CASCADE;


--
-- Name: corridors corridors_floor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.corridors
    ADD CONSTRAINT corridors_floor_id_fkey FOREIGN KEY (floor_id) REFERENCES public.floors(id) ON DELETE CASCADE;


--
-- Name: floors floors_building_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.floors
    ADD CONSTRAINT floors_building_id_fkey FOREIGN KEY (building_id) REFERENCES public.buildings(id) ON DELETE CASCADE;


--
-- Name: parking_spaces parking_spaces_building_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parking_spaces
    ADD CONSTRAINT parking_spaces_building_id_fkey FOREIGN KEY (building_id) REFERENCES public.buildings(id) ON DELETE CASCADE;


--
-- Name: parking_spaces parking_spaces_property_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parking_spaces
    ADD CONSTRAINT parking_spaces_property_unit_id_fkey FOREIGN KEY (property_unit_id) REFERENCES public.property_units(id) ON DELETE SET NULL;


--
-- Name: property_ownership property_ownership_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_ownership
    ADD CONSTRAINT property_ownership_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.owners(id) ON DELETE CASCADE;


--
-- Name: property_ownership property_ownership_property_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_ownership
    ADD CONSTRAINT property_ownership_property_unit_id_fkey FOREIGN KEY (property_unit_id) REFERENCES public.property_units(id) ON DELETE CASCADE;


--
-- Name: property_registrations property_registrations_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_registrations
    ADD CONSTRAINT property_registrations_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.owners(id) ON DELETE SET NULL;


--
-- Name: property_registrations property_registrations_ownership_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_registrations
    ADD CONSTRAINT property_registrations_ownership_id_fkey FOREIGN KEY (ownership_id) REFERENCES public.property_ownership(id) ON DELETE SET NULL;


--
-- Name: property_registrations property_registrations_property_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_registrations
    ADD CONSTRAINT property_registrations_property_unit_id_fkey FOREIGN KEY (property_unit_id) REFERENCES public.property_units(id) ON DELETE CASCADE;


--
-- Name: property_registrations property_registrations_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_registrations
    ADD CONSTRAINT property_registrations_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: property_registrations property_registrations_submitted_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_registrations
    ADD CONSTRAINT property_registrations_submitted_by_fkey FOREIGN KEY (submitted_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: property_tax property_tax_property_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_tax
    ADD CONSTRAINT property_tax_property_unit_id_fkey FOREIGN KEY (property_unit_id) REFERENCES public.property_units(id) ON DELETE CASCADE;


--
-- Name: property_transfer_requests property_transfer_requests_current_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_transfer_requests
    ADD CONSTRAINT property_transfer_requests_current_owner_id_fkey FOREIGN KEY (current_owner_id) REFERENCES public.owners(id) ON DELETE RESTRICT;


--
-- Name: property_transfer_requests property_transfer_requests_property_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_transfer_requests
    ADD CONSTRAINT property_transfer_requests_property_unit_id_fkey FOREIGN KEY (property_unit_id) REFERENCES public.property_units(id) ON DELETE CASCADE;


--
-- Name: property_transfer_requests property_transfer_requests_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_transfer_requests
    ADD CONSTRAINT property_transfer_requests_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: property_transfer_requests property_transfer_requests_submitted_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_transfer_requests
    ADD CONSTRAINT property_transfer_requests_submitted_by_fkey FOREIGN KEY (submitted_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: property_units property_units_floor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.property_units
    ADD CONSTRAINT property_units_floor_id_fkey FOREIGN KEY (floor_id) REFERENCES public.floors(id) ON DELETE CASCADE;


--
-- Name: rooms rooms_property_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_property_unit_id_fkey FOREIGN KEY (property_unit_id) REFERENCES public.property_units(id) ON DELETE CASCADE;


--
-- Name: utilities utilities_property_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.utilities
    ADD CONSTRAINT utilities_property_unit_id_fkey FOREIGN KEY (property_unit_id) REFERENCES public.property_units(id) ON DELETE CASCADE;


--
-- Name: washrooms washrooms_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.washrooms
    ADD CONSTRAINT washrooms_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

